


<h1> Buenas :D  </h1>

<h3>espero que cumpla con las expectativas este trabajo , sinceramente no me dio tiempo para decorarlo :P</h3>

<h4>aunque no estaria mal que expliquen como pasos extras no necesarios como agregar una buena plantilla de boostrap , asi usamos todo lo visto antes tambien n.n</h4>

<h2> Suertee </h2>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
