


<h1> Buenas :D  </h1>

<h3>-- espero que cumpla con las expectativas este trabajo , sinceramente no me dio tiempo para decorarlo :P</h3>

<h4>-- lo del primer punto que pide al metodo get de productos con la paginacion y todo lo demas , se resuelve en localhost:8080/products?(mas lo que quieran poner) ya que ese punto y el ultimo basicamente eran lo mismo , crei que era lo mejor dejarlo ahi y dejar esta como un home</h4>


<h4>--una sugerencia mia, me gustaria que expliquen como pasos extras no necesarios, como agregar/usar una buena plantilla de boostrap para el trabajo , asi usamos todo lo visto antes tambien n.n (y no queda tan feo , aunque se entiende que esto es un curso de back :P)</h4>

<h2> Suertee </h2>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
